In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import gc
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import time

In [2]:
x = pd.read_csv('check_point')

/home/hannah/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
temp = pd.read_csv('temp')

/home/hannah/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
x = pd.concat([x,temp],axis = 1)

In [6]:
x.head()

,day,mobile,customer_id,gender,birth_year,region_code,partner_name,financial_product,user_product_type,stream_length,...,region_code_GB-CMD,region_code_GB-DOW,region_code_GB-LEW,region_code_GB-HCK,region_code_GB-ZET,region_code_GB-TWH,region_code_GB-HMF,region_code_GB-STB,region_code_GB-ERW,region_code_GB-MYL
0,2015-01-01,1,f308645315d96242d687570c44c6f495,0.0,1994.0,GB-EDH,NaN,student,paid,43.0,...,False,False,False,False,False,False,False,False,False,False
1,2015-01-01,1,5db46e163f3bc4d887177cdefef51f04,1.0,1991.0,GB-SRY,NaN,NaN,paid,98.0,...,False,False,False,False,False,False,False,False,False,False
2,2015-01-01,0,10c468756d826728ee445c7a5530f2a2,0.0,1992.0,GB-POR,NaN,NaN,ad,96.0,...,False,False,False,False,False,False,False,False,False,False
3,2015-01-01,1,8ea2191942f4bd36ea8ecb4a6c74308f,1.0,1964.0,GB-GLG,NaN,NaN,paid,40.0,...,False,False,False,False,False,False,False,False,False,False
4,2015-01-01,1,d33ca42a736ed17ca3cbe952906e797a,1.0,1995.0,GB-ABE,NaN,NaN,paid,250.0,...,False,False,False,False,False,False,False,False,False,False

In [7]:
x.to_csv('check_point',index = False)