In [26]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [27]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import gc
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import time

In [28]:
class time_est():
    def __init__(self, total_len):
        self.t_start = time.time()
        self.total_len = total_len
        self.count = 0
        self.t_ref = time.time()
    
    def check(self,no_of_check=1,info=""):
        self.count += no_of_check
        if time.time() - self.t_ref > 1:
            t_used = time.time() - self.t_start
            t_total = t_used * self.total_len / self.count
            t_remain = t_total - t_used
            process_bar = "|"
            for i in range(40):
                if (i/40) < (self.count/self.total_len):
                    process_bar += "█"
                else:
                    process_bar += " "
            process_bar += "|"
            print("\r" + (str(info) + "  {:.2f}% ({}/{})\t".format(self.count * 100/self.total_len, self.count,self.total_len)) + str(process_bar).ljust(45) + "Used: {:02.0f}:{:02.0f}:{:02.0f}".format(int(t_used/3600), int(t_used/60)%60, t_used % 60).ljust(16) + "ETA: {:02.0f}:{:02.0f}:{:02.0f}".format(int(t_remain/3600), int(t_remain/60)%60, t_remain % 60),end="")
            self.t_ref = time.time()
        if self.count == self.total_len:
            t_used = time.time() - self.t_start
            print("\r" + str(info) + "  Finished in " +"{:02.0f}:{:02.0f}:{:02.0f}".format(int(t_used/3600), int(t_used/60)%60, t_used % 60).ljust(100))

In [29]:
header = [
 'mobile',
 'isrc',
 'upc',
 'artist_name',
 'customer_id',
 'postal_code',
 'access',
 'gender',
 'birth_year',
 'region_code',
 'financial_product',
 'user_product_type',
 'stream_length',
 'stream_source_uri',
 'stream_device',
 'stream_os',
 'track_uri']

In [30]:
import os
# jan_file = os.listdir('jan/')
feb_file = os.listdir('feb/')
mar_file = os.listdir('mar/')

In [31]:
# jan_art = os.listdir('artist_jan/')

In [32]:
# print(len(jan_file))
print(len(feb_file))
print(len(mar_file))

24594
25076

In [43]:
list(set(feb_file).intersection(mar_file))[1]

'Floating Action.txt'

In [35]:
type(mar_file)

list

In [36]:
for i in list(set(feb_file).intersection(mar_file):
    print(i)
    break

Riké.txt

In [44]:
feb = pd.read_csv('feb/'+'Floating Action.txt')

In [45]:
mar = pd.read_csv('mar/'+'Floating Action.txt')

In [46]:
feb

   region_code  loyalty customer
0          NaN        0       []

In [47]:
mar

   region_code  loyalty customer
0          NaN        0       []

In [48]:
os.path.getsize('feb/'+'Floating Action.txt')

35