In [30]:
import pandas as pd
import numpy as np
import time
import os
class time_est():
    def __init__(self, total_len):
        self.t_start = time.time()
        self.total_len = total_len
        self.count = 0
        self.t_ref = time.time()
    
    def check(self,no_of_check=1,info=""):
        self.count += no_of_check
        if time.time() - self.t_ref > 1:
            t_used = time.time() - self.t_start
            t_total = t_used * self.total_len / self.count
            t_remain = t_total - t_used
            process_bar = "|"
            for i in range(40):
                if (i/40) < (self.count/self.total_len):
                    process_bar += "â–ˆ"
                else:
                    process_bar += " "
            process_bar += "|"
            print("\r" + (str(info) + "  {:.2f}% ({}/{})\t".format(self.count * 100/self.total_len, self.count,self.total_len)) + str(process_bar).ljust(45) + "Used: {:02.0f}:{:02.0f}:{:02.0f}".format(int(t_used/3600), int(t_used/60)%60, t_used % 60).ljust(16) + "ETA: {:02.0f}:{:02.0f}:{:02.0f}".format(int(t_remain/3600), int(t_remain/60)%60, t_remain % 60),end="")
            self.t_ref = time.time()
        if self.count == self.total_len:
            t_used = time.time() - self.t_start
            print("\r" + str(info) + "  Finished in " +"{:02.0f}:{:02.0f}:{:02.0f}".format(int(t_used/3600), int(t_used/60)%60, t_used % 60).ljust(100))

In [2]:
loc_df = pd.read_csv('location.csv')

In [5]:
loc_df.head()

     Code Subdivision name (en)
0  GB-BKM       Buckinghamshire
1  GB-CAM        Cambridgeshire
2  GB-CMA               Cumbria
3  GB-DBY            Derbyshire
4  GB-DEV                 Devon

In [4]:
code = loc_df['Code']

In [6]:
region = loc_df['Subdivision name (en)']

In [8]:
loc_dict = {}
for i in range(len(code)):
    loc_dict[code[i]] = region[i]

In [21]:
import os
files = os.listdir('jan/')

In [22]:
f = pd.read_csv('jan/'+files[0])

In [24]:
f.head()

  region_code  loyalty                                           customer
0      GB-CON        1               ['9e5598b8eebb6f08fb874625fc2765c8']
1      GB-CRY        2  ['da9cd3062d0552c9a1ff621ab005b3b0', '46ad4ec5...
2      GB-HAM        1               ['b2c03083d12ba8ef196e5d865adf5064']
3      GB-LND       27  ['065c8971e8aaba4d6df7de3811c029d7', 'f6c37924...
4      GB-KIR        1               ['57bc667bd14aa1b5b60ff2ea72da5aef']

In [26]:
place = []
region_code = f['region_code']
for i in region_code:
    try:
        place.append(loc_dict[i])
    except:
        place.append('o')

In [28]:
f['place'] = place

In [ ]:
f.to_csv('jan/'+)

In [32]:
est = time_est(len(files))
for i in files:
    f = pd.read_csv('jan/'+i)
    place = []
    region_code = f['region_code']
    for j in region_code:
        try:
            place.append(loc_dict[j])
        except:
            place.append('NaN')
    f['place'] = place
    f.to_csv('jan/'+i)
    est.check()

  Finished in 00:05:36

In [33]:
f.head()

,region_code,loyalty,customer,place
0,GB-NET,1,['95b0308c2c5c43f057f846464503849a'],Newcastle upon Tyne
1,GB-LND,1,['444a20deeb5218c16a9c981983d9df80'],"London, City of"
2,NaN,0,[],NaN
3,GB-MAN,1,['7fc06a0919dffa0f48378c963329547e'],Manchester