In [29]:
import pandas as pd
import numpy as np
import time
import os
class time_est():
    def __init__(self, total_len):
        self.t_start = time.time()
        self.total_len = total_len
        self.count = 0
        self.t_ref = time.time()
    
    def check(self,no_of_check=1,info=""):
        self.count += no_of_check
        if time.time() - self.t_ref > 1:
            t_used = time.time() - self.t_start
            t_total = t_used * self.total_len / self.count
            t_remain = t_total - t_used
            process_bar = "|"
            for i in range(40):
                if (i/40) < (self.count/self.total_len):
                    process_bar += "â–ˆ"
                else:
                    process_bar += " "
            process_bar += "|"
            print("\r" + (str(info) + "  {:.2f}% ({}/{})\t".format(self.count * 100/self.total_len, self.count,self.total_len)) + str(process_bar).ljust(45) + "Used: {:02.0f}:{:02.0f}:{:02.0f}".format(int(t_used/3600), int(t_used/60)%60, t_used % 60).ljust(16) + "ETA: {:02.0f}:{:02.0f}:{:02.0f}".format(int(t_remain/3600), int(t_remain/60)%60, t_remain % 60),end="")
            self.t_ref = time.time()
        if self.count == self.total_len:
            t_used = time.time() - self.t_start
            print("\r" + str(info) + "  Finished in " +"{:02.0f}:{:02.0f}:{:02.0f}".format(int(t_used/3600), int(t_used/60)%60, t_used % 60).ljust(100))

In [71]:
path = 'i2v_1/'
data = pd.read_csv(path + 'time_log_3.csv')

/home/hannah/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [72]:
data.head()

                        customer_id    artist_name day hour minute
0  d4be3db566ccb5fb8e95d61bd28bcb50  Clint Mansell   8   14     45
1  bcbf153a406e9db89737f2bd84c0e064  Clint Mansell   8   19      0
2  ab16f386a072fe6947006151d6da6a8f  Clint Mansell   8   17     15
3  ed91d967d4a3ec011711a1f80790ff28  Clint Mansell   8   10     45
4  b223acfe3baaefb42c320e5158b41e58  Clint Mansell   8   12     45

In [73]:
data = data[data['day']!='day']

data['day'] = [int(x) for x in data['day']]
data['hour'] = [int(x) for x in data['hour']]
data['minute'] = [int(x) for x in data['minute']]

day = data['day'].unique()

hour = data['hour'].unique()

minute = data['minute'].unique()

data = data.sort_values('day')

In [74]:
est = time_est(len(day))
for i in  day:
    df = data[data['day'] == i]
    df.to_csv('i2v/'+str(i)+'.csv', mode = 'a')
    est.check()

  Finished in 00:02:36